@page
@model ctrlz.Pages.Paintings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Painting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.DateOfCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.DateOfCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Author.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Genre.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Location.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Painting.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
