@page
@model ctrlz.Pages.Paintings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Painting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.DateOfCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.DateOfCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Author.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Author.Birthday)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Author.DateOfDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Author.DateOfDeath)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Author.ShortBio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Author.ShortBio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Location.Name)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Location.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Location.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painting.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painting.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Painting.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
